/* ==================================
	font    
===================================*/

@font-face {
	font-family: "SeoulHangang";
	src: url("https://cdn.shopify.com/s/files/1/0828/7653/1003/files/SeoulHangang-Medium.ttf?v=1695079430") format("truetype");
	font-weight: normal;
	font-display: swap;
}