/* ==================================
	utility    
===================================*/

.button-custom {
	display: flex;
	width: 140px;
	height: 47px;
	margin: 0 auto;
	padding: 0px 30px;
	color: #fff;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 20px 0px;
	background: var(--1, #2F5339);
}


/* ==================================
	font    
===================================*/

.header__menu-item {
	font-family: var(--font-heading-family);
}

/* ==================================
	variant-chips    
===================================*/

.card__variant_images {
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 99;
    border: none;
    overflow: visible; /* 追加 */
}

.card__variant_chips {

}

.card__variant_chips_image {
    cursor: pointer;
}

.card__variant_chips_image span {
	display: inline-block;
	width: 16px;
    height: 16px;
    border-radius: 100%;
}

/* ==================================
	c_featured-collection    
===================================*/

.c_featured-collection .card__media .media img {
	border-radius: 200px 200px 0px 0px;
}

.c_featured-collection .card__information {
	text-align: center;
}

.c_featured-collection .card-information {
	text-align: center;
}


/* ==================================
	c_blog-post
===================================*/

.c_blog-post .image-with-text__media {
	border: none;
}

.c_blog-post .image-with-text__media img {
	width: 275px;
	height: 275px;
}

/* ==================================
	c_search-form    
===================================*/

.c_search-ttl {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 52px;
}

@media (max-width: 749px) {
    .c_search-ttl {
		font-size: 40px;
	}
}

.c_search-ttl span {
	font-family: Noto Sans JP;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 172%; /* 27.52px */
	letter-spacing: 0.64px;
}

@media (max-width: 749px) {
	.c_search-ttl span {
		font-size: 14px;
	}
}

.search-modal__form {
	margin: 0 auto;
	max-width: 625px;
	position: relative;
}

.c_search-form .field::after {
	box-shadow: none!important;
	border: none!important;
}

.c_search-form .search__input.field__input {
	position: absolute;
	background: #fff;
	border: 1px solid #2F5339;
	border-radius: 50px 50px 50px 0;	
	width: 82%;
	height: 60px;	
	z-index: 30;
}

@media (max-width: 750px) {
	.c_search-form .search__input.field__input {
		width: 70%;
	}
}

.c_search-form .search__input.field__input:focus {
	box-shadow: 0 0 0 calc(var(--inputs-border-width)) rgba(var(--color-foreground));
}

.c_search-form .field__button {
	position: absolute;
	background: #2F5339!important;
	border-radius: 0 50px 50px 0;
	height: 60px;
	width: 140px;
	color: #fff;
	z-index: 20;
}

.c_search-form .field__label {
	z-index: 99;
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

@media (max-width: 550px) {
	.c_search-form .field__label {
		font-size: 14px;
	}

	.c_search-form .field__labe__text {
		margin-right: 25%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.c_search-form svg {
	width: 25px;
	height: 25px;
}

.c_search-form .field__input:focus~.field__label svg {
	width: 10px;
	height: 10px;
}

.field__list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 100px;
}

@media (max-width: 749px) {
	.field__list {
		padding: 0;
		justify-content: start;
		overflow-x: auto;
		min-width: 500px;
	
	}	
}

.field__list li {
	border-radius: 20px 20px 20px 0px;
	border: 1px solid var(--unnamed, #2F5339);
	background: var(--1, #FFF);
	padding: 8px 12px;
}

.field__list a {
	text-decoration: none;
	color: #2F5339;
}

.c_search-subttl {
	text-align: center;
	margin-top: 40px;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.c_search-form .collection-list {
	list-style: none;
	padding: 0;
}

@media (max-width: 749px) {
	.c_search-form .collection-list {
		padding-left: 1.5rem;
	}
}

.c_search-form .collection-item__imageWrap {
	position: relative;
}

.c_search-form .collection-item img {
	width: 100%;
	height: calc(180vw/12.8);
	border-radius: 30px;
	display: inherit;
}

@media (max-width: 550px) {
	.c_search-form .collection-item img {
		height: inherit;
	}
	
}

.c_search-form .collection-item__text {
	position: absolute;
	display: inline-block;
	padding: 8px 24px;
	color: #fff;
	border-radius: 30px 0px 30px 0px;
	background: rgba(0, 0, 0, 0.40);
	backdrop-filter: blur(1.5px);
	bottom: 0;
	right: 0;
}

